<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="generator" content="Pelican" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{{ THEME_STATIC_DIR }}/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="{{ THEME_STATIC_DIR }}/css/fonts.css" />
        <link rel="stylesheet" type="text/css" href="{{ THEME_STATIC_DIR }}/css/main.css" />
        <link rel="stylesheet" type="text/css" href="{{ THEME_STATIC_DIR }}/css/pages.css" />

        <link rel="stylesheet" type="text/css" href="{{ THEME_STATIC_DIR }}/css/shape.css" />
        <link rel="stylesheet" type="text/css" href="{{ THEME_STATIC_DIR }}/css/line-up.css" />
        <link rel="stylesheet" type="text/css" href="{{ THEME_STATIC_DIR }}/css/agenda.css" />

        <link rel="stylesheet" type="text/css" href="{{ THEME_STATIC_DIR }}/css/mobile.css" />

        <!-- JS -->
        <script src="{{ THEME_STATIC_DIR }}/js/jquery-3.6.0.min.js"></script>

        <!-- inline svg favicon -->
        <link rel="icon" href="{{ THEME_STATIC_DIR }}/css/icon.svg">

        {% endblock head %}
</head>

<body class="{% block body_class %}{% endblock %} preload">
  
  {% block content %}

  {% endblock content %}

</body>
</html>
