{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ THEME_STATIC_DIR }}/css/external-comm.css" />
{% endblock %}

{% block content %}
    {% for page in pages %}
        {% if page.slug == 'line-up' %}
            {% for artist in page.artists %}

                <article>

                    <div class="layer text-layer">
                        <h2>
                            {{ artist }}
                        </h2>
                        <h1>
                           Oscillation festival
                        </h1>
                     </div>
            
                     <div class="layer shape-layer">
                        <svg viewbox="0 0 1000 1000" class="svg-comm" data-artists_names="{{ artist }}" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="sonic-crowd-network__path" d=""/>
                        </svg>
                     </div>

                </article>
            {% endfor %}
        {% endif %}
    {% endfor %}

    <script src="{{ THEME_STATIC_DIR }}/js/sonic-crowd-network.js"></script>
    <script>
        $('.svg-comm').each(function(){
            let svg = this;
            // let number = map_value(Math.random(),0,1,4,50);
            let artists_names = this.dataset.artists_names;
            console.log(artists_names);
            let number = artists_names.length;
            random_path(svg, number);
        })
    </script>

{% endblock %}