{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ THEME_STATIC_DIR }}/css/individual-comm.css" />
{% endblock %}

{% block content %}
    {% for page in pages %}
        {% if page.slug == 'line-up' %}

                <article id="facebook">

                    <div class="layer text-layer">
                        <div class="container">
                            <h2 id="festival">
                                Oscillation
                            </h2>
                            <h2>
                                Public Address
                            </h2>
                            <!-- <p>Festival</p> -->
                            <p>A festival by Q-O2</p>

                            <footer class="bottom">
                                <h2 class="date-title">28.04 → <br/>01.05.2022</h2>
                                <p>oscillation-festival.be</p>

                            </footer>
                        </div>
                    </div>
            
                     <div class="layer shape-layer">
                        <svg viewbox="0 0 1000 1000" class="svg-comm" data-number="12" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                            <!-- <path id="sonic-crowd-network__path" d="M 500 0 C 500 500 613 232 613 232 T 547 308 547 308 S 527 301 594 619 S 381 341 527 301 T 381 341 381 341 S 581 701 756 406 S 689 240 581 701 S 385 422 689 240 T 385 422 385 422 T 753 564 753 564 T 363 609 363 609 S 307 547 423 514 T 307 547 307 547 C 613 232 500 500 500 1000"/> -->
                            <path id="sonic-crowd-network__path" d="M 500 0 C 500 500 444 345 444 345 S 333 538 489 777 S 683 234 333 538 T 683 234 683 234 T 745 674 745 674 S 484 646 441 515 S 487 372 484 646 S 706 792 487 372 T 706 792 706 792 S 428 265 374 435 T 428 265 428 265 S 315 644 477 424 S 500 1000 315 644 C 444 345 500 500 500 1000"/>
                            <!-- <path id="sonic-crowd-network__path" d="M 500 0 C 500 500 675 525 675 525 T 311 724 311 724 S 768 250 633 200 T 768 250 768 250 T 676 535 676 535 T 638 313 638 313 T 475 656 475 656 T 345 631 345 631 S 386 556 344 318 T 386 556 386 556 S 346 481 706 682 S 589 687 346 481 T 589 687 589 687 C 675 525 500 500 500 1000"/> -->
                        </svg>
                     </div>

                </article>

                <article id="web">

                    <div class="layer text-layer">
                        <div class="container">
                            <h2 id="festival">
                                Oscillation
                            </h2>
                            <h2>
                                Public Address
                            </h2>
                            <p>A project by Q-O2 werkplaats</p>

                            <footer class="bottom">
                                <h2 class="date-title">28.04 → 01.05.2022</h2>
                                <p>Brussels</p>
                                <p>Full line-up at: www.oscillation-festival.be</p>
                            </footer>
                        </div>
                    </div>
            
                     <div class="layer shape-layer">
                        <svg viewbox="0 0 1000 1000" class="svg-comm" data-number="6" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                            <!-- <path id="sonic-crowd-network__path" d="M 500 0 C 500 500 204 387 204 387 T 481 679 481 679 T 614 556 614 556 T 727 444 727 444 S 716 414 669 316 L 716 414 S 500 1000 234 707 C 204 387 500 500 500 1000"/> -->
                            <!-- <path id="sonic-crowd-network__path" d="M 500 0 C 500 500 483 365 483 365 T 339 290 339 290 S 612 437 408 259 S 396 650 612 437 S 686 626 396 650 T 686 626 686 626 L 233 722 C 483 365 500 500 500 1000"/> -->
                            <path id="sonic-crowd-network__path" d="M 500 0 C 500 500 747 257 747 257 T 384 789 384 789 T 636 625 636 625 S 616 545 364 453 T 616 545 616 545 S 227 354 619 640 T 227 354 227 354 C 747 257 500 500 500 1000"/>
                        </svg>
                     </div>

                </article>

                <article id="print">

                    <div class="layer text-layer">
                        <div class="container">
                            <h2 id="festival">
                                Oscillation
                            </h2>
                            <h2>
                                Public Address
                            </h2>
                            <p>A project by Q-O2 werkplaats</p>

                            <footer class="bottom">
                                <h2 class="date-title">28.04 → 01.05.2022</h2>
                                <div class="flex-spacing">
                                    <p>Brussels</p>
                                    <p>Full line-up at: www.oscillation-festival.be</p>
                                </div>
                            </footer>
                        </div>
                    </div>
            
                    <div class="layer shape-layer">
                        <svg viewbox="0 0 1000 1000" class="svg-comm" data-number="12" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="sonic-crowd-network__path" d="M 500 0 C 500 500 613 232 613 232 T 547 308 547 308 S 527 301 594 619 S 381 341 527 301 T 381 341 381 341 S 581 701 756 406 S 689 240 581 701 S 385 422 689 240 T 385 422 385 422 T 753 564 753 564 T 363 609 363 609 S 307 547 423 514 T 307 547 307 547 C 613 232 500 500 500 1000"/>
                            <!-- <path id="sonic-crowd-network__path" d="M 500 0 C 500 500 444 345 444 345 S 333 538 489 777 S 683 234 333 538 T 683 234 683 234 T 745 674 745 674 S 484 646 441 515 S 487 372 484 646 S 706 792 487 372 T 706 792 706 792 S 428 265 374 435 T 428 265 428 265 S 315 644 477 424 S 500 1000 315 644 C 444 345 500 500 500 1000"/> -->
                        </svg>
                    </div>

                </article>

                <article id="gif">

                    <div class="layer text-layer">
                        <div class="container">
                            <h2 id="festival">
                                Oscillation :::
                                Public Address
                            </h2>
                            
                            <footer class="bottom">
                                <h2 class="date-title">28.04 → 01.05.2022</h2>
                                <p>A project by Q-O2 werkplaats</p>
                            </footer>

                        </div>
                        <div class="layer shape-layer">
                            <svg viewbox="0 0 1000 1000" class="svg-comm" data-number="8" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                                <path id="sonic-crowd-network__path" d="M 500 0 C 500 500 750 285 750 285 S 333 590 384 362 T 333 590 333 590 T 223 327 223 327 T 412 711 412 711 T 766 426 766 426 S 394 644 545 639 S 615 355 394 644 S 500 1000 615 355 C 750 285 500 500 500 1000"/>
                            </svg>
                        </div>
                    </div>

                </article>

        {% endif %}
    {% endfor %}

    {#<!--{% for page in pages %}
        {% if page.slug == 'line-up' %}
                <article id="print">

                    <div class="layer text-layer">
                        <h2>
                            Oscillation :::
                         </h2>
                         <h2>
                             Public Address
                         </h2>
                         <p id="festival">Festival  <span id="fleche">_</span> Brussels</p>
                         <h2 class="date-title">28.04 → 01.05.2022</h2>
                        <footer>
                            <p>A project by Q-O2 werkplaats</p>
                            <p>Full line-up at:<br> www.oscillation-festival.be</p>
                        </footer>
                     </div>
            
                     <div class="layer shape-layer">
                        <svg viewbox="0 0 1000 1000" class="svg-comm" data-artists_names="{{ artist }}" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="sonic-crowd-network__path" d=""/>
                        </svg>
                     </div>

                     <div class="layer text-layer" id="lineup">
                     <ul>
                        {% for artists in page.artists %}
                            <li>{{ artists }}</li>
                        {% endfor %}
                    </ul>
                    </div>

                </article>
        {% endif %}
    {% endfor %}-->#}

    <script src="{{ THEME_STATIC_DIR }}/js/sonic-crowd-network.js"></script>
    <script>
        $('.svg-comm.bonnus').each(function(){
            let svg = this;
            // let number = map_value(Math.random(),0,1,4,25);
            let number = this.dataset.number;
            //let artists_names = this.dataset.artists_names;
            //console.log(artists_names);
            //let number = artists_names.length;
            random_path(svg, number);
        })
    </script>

{% endblock %}