
{% for article in articles %}

    {% if article.section == 'blog' %}

    <details class="blogpost unfolding-details small-summary">

        <summary>
            <h2>
                <span>{{ article.title }}</span>
                <span class="in-title-date">{{ article.locale_date }}</span>
            </h2>
        </summary>

        <section class="unfolding-details__content">

            <figure>
                <img src="{{ article.post_img }}">
            </figure>

            <div class="blogpost__text">
                {{ article.content }}
            </div>

        </section>

    </details>

    {% endif %}

{% endfor %}