<li>
    <input
        id="{{ page.slug }}__checkbox" 
        class="nav-checkbox" type="checkbox" 
        {% if page.default_state == 'on' %}checked{% elif page.default_state == 'disabled'%}disabled{% endif %}
        value="{{ page.slug }}__section">
    <label class="nav-checkbox__label" for="{{ page.slug }}__checkbox">
        <span>&nbsp;{{ page.title }}&nbsp;</span>
    </label>
</li>