{% for article in articles %}

    {% if article.section == 'specials' %}

    <details class="blogpost unfolding-details  small-summary">
        <summary>
            <h2>
                <span>{{ article.title }}</span>
                <span class="in-title-date">{{ article.locale_date }}</span>
            </h2>
        </summary>

        <section class="details_content">
            <div class="blogpost__text">
                {{ article.content }}
            </div>
        </section>

    </details>

    {% endif %}

{% endfor %}