
/* NOTE:
This sheet is to be send to customize the look of wordy-chat and make it fit the style of the QO2 website.
The font file `Karrik-Regular.otf` should be added in the same folder.
*/

@font-face {
    font-family: 'Karrik';
    src: url('Karrik-Regular.otf');
}


/* --- typography */
body, button, input {
	font-family: "Karrik";
	font-size: 1.1rem;
    line-height: 1.1;
	letter-spacing: 0;
    color: black;
    background-color: transparent;
}
.auth *{
    font-size: 1.1rem !important;
    line-height: 1.1 !important;
    font-weight: normal !important;
    letter-spacing: 0 !important;  
}
.bubble__body__message__nickname{
    font-weight: normal;
    background-color: hsl(284deg 100% 90%);
    display: inline-block;
}

/* --- button and input styling */
button{
    color: red;
    cursor: pointer;
}
.input {
	background-color: hsl(284deg 100% 97%);
	width: 100%;
	padding: 1rem 0.5rem 0.5rem;
	box-sizing: border-box;
	border: 1px solid black;
}

/* --- coherent spacing with the rest of the website */
.wordy{
    padding: 1rem 0.5rem;
}
.wordy__messages {
	padding-bottom: 70px;
}
.bubble {
  padding: 0;
}
.bubble__body__message {
    padding-top: 0.5rem;
	padding-right: 0;
}

/* --- removing avatars */
.bubble__body__photo {
	display:none;
}
img{
    display:none;
}