
:root{

    /* redefining the variable we need to change */
    --fs-clamp-big: 80px;
    --fs-main: 50px;
    --c-back: yellowgreen;
    /* --c-back: red; */
    --c-back: hsl(284deg 100% 90%);
    --c-active: white;
    --c-stroke: white;
}

body{
    background-color: white;
    margin: 2em;

    display: grid;
    grid-template-columns: repeat(auto-fill, 800px);
    gap: 2em;
}

article{
    background: var(--c-back);
    overflow: hidden;
    width: 800px;
    height: 800px;
    position: relative;

    /* outline: 1px solid black; */
}

article h2{
    /* margin-top: 1em; */
    font-size: var(--fs-clamp-big);
    line-height: 1.2;
    position: relative;
    z-index: 30;
}
article h1{
    font-size: 1em;
    line-height: 1.1;
    font-family: 'karrik';
    margin-top: 0.25em;
}

.layer{
    position: absolute;
    inset: 0;
}

.text-layer{
    padding: 1em;
}


/* SONIC-CROWD-NETWORK
======================================================== */

.shape-layer{
    position: absolute;

    --decal: 0px;
    top: var(--decal); bottom: var(--decal);
    left: 0;
    pointer-events: none;
}

.svg-comm{
    background: radial-gradient(circle closest-side, var(--c-active), transparent 66%);
}