@font-face {
    font-family: 'MetaKiki';
    src: url('../fonts/MetaAccanthis_regular.ttf');
}
  
@font-face {
    font-family: 'MetaBouba';
    src: url('../fonts/MetaAccanthisArrow.ttf');
}

@font-face {
    font-family: 'Karrik';
    src: url('../fonts/text_fonts/Karrik-Regular.otf');
}
