
:root{

    /* redefining the variable we need to change */
    /* --c-back: yellowgreen; */
    /* --c-back: red; */
    --c-back: #fbf0ff;
    --c-active: red;
    --c-stroke: white;
}


/* --- global display */
body{
    background-color: white;
    margin: 2rem;
}

/* --- ADD FORMAT */
article{
    background: var(--c-back);
    overflow: hidden;
    position: relative;

    margin-bottom: 2rem;
    font-size: var(--fs-main);
}
article#facebook{
    width: 1920px;
    height: 1005px;
    --fs-clamp-big: 137px;
    --fs-main: 68px;
    --gradient: 95%;
    --decal-H: 0px;
    --decal-W: 0px;
}
article#web{
    width: 1000px;
    height: 1200px;

    --fs-clamp-big: 100px;
    --fs-main: 40px;
    --gradient: 75%;
    --decal-H: 0px;
    --decal-W: -100px;
}
article#print{
    width: 210mm;
    height: 136mm;

    --fs-clamp-big: 56px;
    --fs-main: 28px;
    --gradient: 95%;
    --decal-H: 0px;
    --decal-W: -100px;
}
article#gif{
    width: 728px;
    height: 90px;

    --fs-clamp-big: 28px;
    --fs-main: 18px;
    --gradient: 95%;
    --decal-H: 0px;
    --decal-W: 0px;
}

/* --- typography */
article h2{
    font-size: var(--fs-clamp-big);
    line-height: 1.1;
    position: relative;
    z-index: 30;
}
article h1{
    font-size: 1em;
    line-height: 1.1;
    font-family: 'karrik';
    margin-top: 0.25em;
}
.date-title{
    /* z-index: 0; */
    display: inline;
}

footer.bottom{
    position: absolute;
    bottom: 0;
}

/* --- ajustments par layout */
article#facebook footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

article#web footer > p:first-of-type{
    display: inline;
    margin-left: 0.5em;
}
article#print .flex-spacing{
    display: flex;
    gap: 1.5em;
}
article#gif footer > p:first-of-type{
    display: inline;
    margin-left: 1em;
}

article#gif .shape-layer{
    left: 68%; right: 2%;
}

/* --- utility classes */
.layer{
    position: absolute;
    inset: 0;
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
}
.text-layer{
    padding: calc(var(--fs-clamp-big) * 0.5);
}

/* SONIC-CROWD-NETWORK
======================================================== */

.shape-layer{
    position: absolute;

    top: var(--decal-H); bottom: var(--decal-H);
    left: var(--decal-W); right: var(--decal-W);
    pointer-events: none;
}

.svg-comm{
    height: 100%;
    width: 100%;
    background: radial-gradient(circle closest-side, var(--c-active), transparent var(--gradient));
}


/* --- old */

/* --- line-up */
/* ul, li{
    display: inline;
    word-break:break-word;
    font-size: 0.74em;
    line-height: 0.2;
}
ul{
    vertical-align:middle;
    margin-top: 20px;
    transform: translateY(30px);
}
li::after {
    content: " _ ";
    font-family: 'MetaBouba';
} */

/* #lineup{
    margin-top: 230px;
}

#fleche {
    font-family: 'MetaBouba';
    font-size: 1.3em;
    line-height: 0.7;
    transform: translateY(7px);
    display: inline-block;
} */

/* Print version
======================================================== */
/* 
#print{
    width: 105mm;
    height: 68mm;
}

#print .text-layer{
    padding: 0.3em;
}

#print h2{
    font-size: 0.74em;
}

#print p{
    font-size: 0.5em;
}

#print p:last-of-type{
    right: 0;
}


#print #date{
    transform: translateY(60px);
}

#print footer{
    transform: translateY(70px) !important;
    font-size: 0.55em;
}

#print #fleche{
    transform: translateY(4px);
}

#print .shape-layer{
    --decal: -60px;
} */