
/* GLOBAL STYLE
======================================================== */

:root{
    --stroke-width: 0.070em; /* precise value so it's in sync with the font-size */
    --border-width: 1px;
    --border: var(--border-width) solid black;

    /* colors */
    --c-disabled: rgba(0,0,0,0.25);
    --c-back: #f7f7f7;
    --c-nav-back: hsl(284deg 100% 97%);
    --c-active: red;
    
    --c-stroke-darker: hsl(284deg 100% 90%);
    --c-stroke: hsl(284deg 100% 92%);
    /* --c-stroke: hsl(284deg 100% 82%); */
    /* --c-stroke-change: hsl(284deg 100% 90%); */
    --c-stroke-change: hsl(284deg 190% 50%);

    /* font-sizes */
    --fs-clamp-big: clamp(2rem, 3.2vw, 2.5rem);
    --fs-clamp-medium: clamp(1.35rem, 2vw, 2rem);
    --fs-kr-up: 1.4rem;
    --fs-meta-small: 1.4rem;
    --fs-main: 1.1rem;
}

/* basic typo */
html{
    font-size: var(--fs-main);
}

body{
    font-family: 'Karrik';
    font-size: inherit;
}

p, label, ul{
    line-height: 1.1;
}

a{
    /* text-decoration: none; */
    color: black;
    text-decoration-thickness: var(--border-width);
}
a:hover{
    text-decoration: none;
}

*::selection{
    background-color: var(--c-stroke-darker);
}

strong{
    background-color: var(--c-stroke-darker);
    /* padding: 0 0.4em; */
    /* display: inline-block; */
}


/* GLOBAL LAYOUT
======================================================== */

body.index{
    display: grid;
    grid-template-rows: min-content 1fr;
    width: 100vw;
    height: 100vh;

    background: black;
}


/* CHECKBOX NAVIGATION
======================================================== */

/* layout */
nav.main-nav{
    background: var(--c-nav-back);
    position: relative;

    display: flex;
    align-items: baseline;
}
nav.main-nav::after{
    position: absolute;
    inset: 0;
    bottom: calc(-1 * var(--border-width));
    border-bottom: var(--border);
}

ul.checkbox-menu{
    flex-grow: 1;

    display: flex;
    flex-wrap: wrap;
}
.languages-menu{
    /* border-left: var(--border); */
    padding: 0 2rem;
    flex-shrink: 0;
}

/* a checkbox */
.nav-checkbox{
	display: none;
	margin: 0 auto 0.5em;
}

.nav-checkbox__label{
    padding: 0.75rem 0.5rem 0.75rem;
    position: relative;
    white-space: nowrap;

    display: flex;
    align-items: baseline;

    border-right: var(--border);
    border-bottom: var(--border);
    margin-bottom: calc(-1 * var(--border-width));
}

.nav-checkbox__label::before {
    content: "";
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    margin-right: 0.15em;
    border-radius: 50%;
    border: var( --border);

    position: relative;
    bottom: -0.04em;
}

/* when activated */
.nav-checkbox:checked + .nav-checkbox__label{
    background-color: var(--c-stroke-darker);
}
.nav-checkbox:checked + .nav-checkbox__label::before{
    background: black;
}

/* when disabled */
.nav-checkbox:disabled + .nav-checkbox__label span{
    text-decoration: none;
}
.nav-checkbox:disabled + .nav-checkbox__label{
	color: var(--c-disabled);
    pointer-events: none;
}

.nav-checkbox:disabled + .nav-checkbox__label::before{
	border-color: var(--c-disabled);
}

/*when hovered*/
.nav-checkbox:hover, .nav-checkbox__label:hover{
    cursor: pointer;
}

#stream__checkbox  >.nav-checkbox__label::before {
    background: radial-gradient(circle closest-side, red, transparent 66%);
    content: " .";
    color: transparent;
    font-size: 6.5em;
    line-height: 0;
    vertical-align: -37px;
    margin-right: 2px;
}

/* GRID MODULAR SECTIONS
======================================================== */

main.modular-grid{
    overflow: hidden;
    display: flex;
    width: 100vw;
    height: 100%;
    position: relative;
}

.column{
    flex: 1 0 0%;
    /* NOTE: 
    adding min-width ensure that the column stay the exact same size
    otherwise they can jump from one size to another when opening/closing
    a details tag inside */
    min-width: 0;

    position: relative;
    box-sizing: border-box;

    background-color: var(--c-back);

    flex-direction: column;
    height: 100%;
    display: flex;
}

body.preload *{
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

details.modular-section{
    flex: 1 0 0;
    min-height: 0;

    overflow: hidden;

    border-top: var(--border);

    animation: appears 0.8s ease-out;
}

@keyframes appears {
    0% { background-color: var(--c-stroke-darker); }
    25% { background-color: var(--c-stroke-darker); }
    100% { background-color: rgba(255, 255, 255, 0); }
}

/* section title */
details.modular-section > summary{
    /* we hide them by default, only for mobile */
    display: none;
}


/* two type of boxes */
details.modular-section.overflow-scroll{
    /* background-color: #white; */
}
details.modular-section.overflow-none{
    flex: 0 0 min-content;
}

/* section content */
.section-content{
    overflow: auto;
    box-sizing: border-box;
    padding: 1rem 0.5rem;
    height: 100%;
}

/* the title we use for display are inside the markdown */
.modular-section .section-content :is(h1, h2){
    font-family: 'MetaBouba';
    
    /* titles above the shape */
    position: relative;
    z-index: 30;
}
.modular-section .section-content h1{
    font-size: var(--fs-clamp-big);
}
.modular-section .section-content h2{
    font-size: var(--fs-clamp-medium);
}


/* SECTIONS SPECIFICS
======================================================== */

details.modular-section:not(#shape__section){
    /* above the shape */
    position: relative;
    z-index: 20;
}

#shape__section{
    flex-grow: 1;
    padding: 0;

}

#shape__section .section-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#shape__section h1 a{
    text-decoration: none;
}

#shape__section .festival-date{
    font-size: var(--fs-clamp-big);
}


/* DETAILS TAG AJUSTMENT
======================================================== */

/* removing the default arrow */
details.modular-section > summary::-webkit-details-marker {
    display:none;
}
details.modular-section > summary:first-of-type {
    list-style-type: none;
}

details.modular-section:not([open]){
    display: none;
}

/* fade-out on disabled */
details.modular-section[disabled] > summary{
    color: var(--c-disabled);

    /* not clickable */
    pointer-events: none;
}
details.modular-section[disabled] > summary span{
    text-decoration: none;
}