

/* titles inside a section */
.section-content > h2{
    margin: 1rem 0;
}
.section-content > h2:first-child{
    margin-top: 0;
}

/* paragraphs inside a section */
.section-content p{
    margin-bottom: 0.5rem;
}
.section-content > *:last-child{
    margin-bottom: 0;
}

.section-content ul{
    list-style-type: disc;
    list-style-position: inside;
}

/* BIG LINKS */
h2 a{
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border: var(--border);
    border-radius: 0.5rem;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.5);
}

/* limiting images sizes */
figure {
    max-width: 33vw;
}
figure img {
    display: block;
    max-width: 100%;
    max-height: 50vh;
    width: auto;
    height: auto;
}
figure figcaption{
    opacity: 0.5;
    font-size: 0.75rem;
}

@media only screen and (max-width: 920px) {
    /* full and centered */
    figure{
        max-width: 100%;
        width: 100%;
    }
    figure img {
        margin: auto;
    }
}


#chat__section .section-content{
    display: flex;
    align-items: stretch;
    padding: 0;
}
#chat__section iframe{
    flex-grow: 1;
}


/* UNFOLDING DETAILS
======================================================== */

/* removing the default arrow */
details.unfolding-details > summary::-webkit-details-marker {
    display:none;
}
details.unfolding-details > summary:first-of-type {
    list-style-type: none;
}

/* styling */
details.unfolding-details{
    height: auto;
    margin-bottom: 1rem;
}

details.unfolding-details > summary{
    cursor: pointer;
    /* background-color: rgba(0 0 0 / .035); */

    display: flex;
    /* justify-content: space-between; */
    align-items: center;

    /* padding: 0.75em 0.5em 0.75em;
    padding-right: 1em;
    border: var(--border);
    border-radius: 0.5em; */
}

details.unfolding-details > summary::before {
    font-family: 'Karrik';
    font-size: 1rem;
    margin-right: 0.5rem;

    /* background-color: var(--c-nav-back); */
    background-color: rgba(255, 255, 255, 0.5);

    flex-shrink: 0;

    border-radius: 50%;
    border: var(--border);
    box-sizing: border-box;
    height: 1.3rem;
    width: 1.3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

details.unfolding-details > summary::before {
    content: "+";
}
details.unfolding-details[open] > summary::before {
    content: "-";
}

.unfolding-details__content{
    margin-left: 0.65rem;
    border-left: var(--border);
    padding: 0 0 0;
    padding-left: 1rem;
    padding-right: 0;
}
.unfolding-details__content > *:first-child{
    margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
    .unfolding-details__content{
        margin-left: 0;
        border-left: none;
        padding: 0 0.65rem;
        margin: 1rem 0 2rem;
    }
}


/* SMALLER UNFOLDING-DETAILS
======================================================== */

/* for blog and specials */
details.unfolding-details.small-summary > summary{
    /* padding: 0.5em 0em 0.5em; */
}
details.unfolding-details.small-summary > summary h2{
    font-size: var(--fs-kr-up);
    font-family: 'Karrik';
}
details.unfolding-details.small-summary > summary h2 .in-title-date{
    display: block;
    font-family: 'MetaBouba';
    font-size: var(--fs-meta-small);
}